body {
  text-align: center;
  background: #f5e7b5;
  padding: 30px;
  color: red;
}

h1 {
  font-size: 50px;
  margin-bottom: 60px;
}

#board {
  background-color: rgba(240, 248, 255, 0.438);
  display: grid;
  grid-template-columns: repeat(10, 70px);
  margin-top: 50px;
  justify-content: center;
  margin-left: 20rem;
  margin-right: 20rem;
}

.cell {
  margin-bottom: 20px;
  color: black;
  display: inline-block;
  font-weight: bold;
  width: 45%;
  height: 30px;
  position: relative;
  border: 4px solid red;
  border-radius: 60%;

  font-size: 25px;
}

.cell.extracted {
  background-color: red;
  color: azure;
}

button {
  margin-top: 28px;
  font-size: 30px;
  border-radius: 12%;
}
